{% extends "base.twig" %}

{% block css %}
	<link rel="stylesheet" href="./css/article.css">
{% endblock %}
{% block main %}
    <div class="header_article flex center dir-col" >
        <h2>Erreur 403</h2>
        <p>Une erreur est survenu lors du traitement de cette requête</p>
    </div>
{% endblock %}
